
section{
	width:100%;
  height: 720px;
}
.leftHobbies{
	float:left;
	width:50%;
	box-sizing:border-box;
  text-align: center;
  height: 560px;
	position: relative;
}

.rightHobbies{
	float:right;
	width:50%;
	box-sizing:border-box;
  text-align: center;
  height: 560px;
	position: relative;

	
background-color: #e5e5f7;
opacity: 1;
background-image:  radial-gradient(#444cf7 1.55px, transparent 1.55px), radial-gradient(#444cf7 1.55px, #e5e5f7 1.55px);
background-size: 62px 62px;
background-position: 0 0,31px 31px;
}

#hobbie{
	position: absolute;
	top: 40%; /*kolko je od gornjeg ruba*/
	left: 50%;
	transform: translate(-50%, -50%);
}

#hobbies{
	position: absolute;
	top: 60%; /*kolko je od gornjeg ruba*/
	left: 50%;
	transform: translate(-50%, -50%);
}

#profilePic1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.test{
  background-color: aquamarine;
}



/*slideshow*/



* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.KarloSlides, .MatejSlides {
  display: none;
  cursor: pointer;
  transition: 0.3s;
}

.smallImg:hover, .smallImgKarlo:hover{
  opacity: 0.8;
}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: left;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation: fade forwards;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/*modal za slideshow*/



#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.8;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1000px;
}

/* Caption of Modal Image */ 
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, .caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



/*CSS od mateja*//*
@font-face {
	font-family: "Libre Bodoni Bold";
	src: url("fonts/LibreBodoni-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Libre Bodoni Regular";
	src: url("fonts/LibreBodoni-Regular.ttf") format("truetype");
}
*/
section{
	width:100%;
    height: 500px;
}
.left
{
	background-image: url("images/background/digitalart2.jpg");
	background-blend-mode:soft-light;
	background-size: cover;
    background-color:#523328;
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
    text-align: center;
    height: 500px;


	position: relative;
}

.leftKarlo
{
	background-image: url("images/background/background	Karlo.jpg");
	/*background-blend-mode:soft-light;*/
	background-size: cover;
    background-color:#523328;
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
    text-align: center;
    height: 500px;

	position: relative;
}

.leftVideo1
{
    /*background-color:#D0ABA0;*/
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
    text-align: center;
    height: 500px;


	position: relative;

	background-color: #e5e5f7;
opacity: 1;
background-image:  radial-gradient(#444cf7 1.55px, transparent 1.55px), radial-gradient(#444cf7 1.55px, #e5e5f7 1.55px);
background-size: 62px 62px;
background-position: 0 0,31px 31px;
}

.right
{
	background-image: url("images/background/back1.jpg");
	background-size: cover;
	background-blend-mode: soft-light;
    background-color: #D0ABA0;
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
    text-align: center;
    height: 500px;

	position: relative;
}

.rightAudio1
{
    background-color: #D0ABA0;
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
    text-align: center;
    height: 500px;

	position: relative;

	background-color: #f0f0ff;
	opacity: 1;
	background-image:  radial-gradient(#000dff 2px, transparent 2px), radial-gradient(#000dff 2px, #f0f0ff 2px);
	background-size: 80px 80px;
	background-position: 0 0,40px 40px;
}

.video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.audio{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#section2{
    background-color: bisque;
}

#name{
	position: absolute;
	top: 20%; /*kolko je od gornjeg ruba*/
	left: 50%;
	transform: translate(-50%, -50%);

	font-family: "Libre Bodoni Bold";
	color: #523328;
}


.about{
	position: absolute;
	top: 55%; /*kolko je od gornjeg ruba*/
	left: 50%;
	transform: translate(-50%, -50%);

	font-family: "Libre Bodoni Regular";
	font-size: 17px;
	text-align: left;
}



#profilePic1{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 3px solid #D0ABA0;

	cursor: pointer;
	transition: 0.4s;
}

#KarloPic:hover{
	filter: brightness(120%);
}

#KarloPic{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	/*border: 3px solid #1b6f64;*/
  

	cursor: pointer;
	transition: 0.4s;
}

#profilePic1:hover{
	filter: brightness(120%);
}

a.links{
	font-weight: bold;
	color: #523328;
	text-decoration: none;
}
a.links:hover{
	opacity: 0.7;
	transition: 0.5s;
}

footer{
	background:#6cf;
	text-align: center;	
}
